@layer base {
  h1 {
    @apply text-4xl font-brand mb-4;

    @apply lg:text-5xl;
  }

  h2 {
    @apply text-h2 font-sans mb-4;
  }

  h3 {
    @apply text-h3 font-sans;
  }

  strong {
    @apply font-semibold;
  }

  p {
    @apply mb-6 mt-0;

    &:last-child {
      @apply mb-0;
    }
  }

  img {
    @apply max-w-full align-top h-auto transition-hide duration-500 ease-in-out;
  }

  img.lazy {
    @apply invisible opacity-0;
  }

  img.lazy.loaded {
    @apply visible opacity-100;
  }

  body {
    @apply text-base leading-normal font-sans text-gray-500 min-w-80;
  }

  /* [x-cloak] {
    display: none !important;
  } */
}
