<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %} {% endblock %}

    <!-- Theme / site specific CSS variables -->

    <style>
      :root {
        --brand-font-family: bebas, sans-serif;
        --brand-primary-color: #000000;
        --brand-secondary-color: #000000;
        --brand-primary-hover-color: #303030;
        --brand-base-color: #202020;
        --brand-base-font-size: 1rem;
        --brand-base-line-height: 1.5;
        --brand-desktop-heading-size: 3rem;
        --brand-desktop-heading-leading: 1;
        --brand-mobile-heading-size: 2.25rem;
        --brand-mobile-heading-leading: 2.25rem;
        --brand-heading-letter-spacing: 0;
        --brand-pattern: url('../assets/dist/images/pattern/pattern-chevron.png');
      }
    </style>

    <style>
      {% include 'critical.css' %}
    </style>

    <link
      rel="stylesheet"
      href="{{ mix('/assets/dist/css/main.css') }}"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link rel="stylesheet" href="{{ mix('/assets/dist/css/main.css') }}" />
    </noscript>
  </head>
  <body>
    {% block additionalsytle %} {% endblock %} {% block pagecontent %}{%
    endblock %} {#
    <script src="{{ mix('/assets/dist/js/manifest.js') }}"></script>
    #} {#
    <script src="{{ mix('/assets/dist/js/vendor/vue.js') }}"></script>
    #} {#
    <script src="{{ mix('/assets/dist/js/vendor/jquery.js') }}"></script>
    #} {#
    <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
    #} {% block additionalscripts %} {% endblock %}
  </body>
</html>
