@layer utilities {
  /* //  UTILITIES : follow https://tailwindcss.com/docs/adding-new-utilities */

  .sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
