{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Accordion
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      {# banner for the page #}

      <div class="py-4">
        <h2>
          Accordion
        </h2>
        {% include '@alpineComponents/accordion.alpine.twig' with {
          accordionList: [
            {
              title: 'What’s the best thing about Switzerland?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            },
            {
              title: 'How do you make holy water?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            },
            {
              title: 'What do you call someone with no body and no nose?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            },
            {
              title: 'Why do you never see elephants hiding in trees?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            },
            {
              title: 'Why can’t you hear a pterodactyl go to the bathroom?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            },
            {
              title: 'Why did the invisible man turn down the job offer?',
              body: "<p>I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</p>"
            }
          ]
        } %}
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
