{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Carousel
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      <div class="py-4">
        <h2>
          Carousel
        </h2>
        {% include '@alpineComponents/carousel.alpine.twig' with {
          slides: [
            {
              image: '/assets/dist/images/slider/slider-01.jpg',
              thumbnail: '/assets/dist/images/slider/t1.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-02.jpg',
              thumbnail: '/assets/dist/images/slider/t2.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-03.jpg',
              thumbnail: '/assets/dist/images/slider/t3.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            }
          ]
        } %}
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
