{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Form
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      {# banner for the page #}

      <div class="py-4">
        <h2>
          Form
        </h2>
        {% include '@alpineComponents/form.alpine.twig' %}
      </div>

      <div class="py-4">
        <h2>
          Form
        </h2>
        {% include '@alpineComponents/form.alpine.twig' %}
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
