{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Filter with Select Boxes
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      <div class="py-4">
        {% include '@alpineComponents/filters-multi-select.alpine.twig' with {
          filters: {
            categories: [
              {
                text: 'Show All',
                value: 'All'
              },
              {
                text: 'Beauty & Health',
                value: 'Beauty & Health'
              },
              {
                text: 'Entertainment',
                value: 'Entertainment'
              },
              {
                text: 'Fashion & Jewellery',
                value: 'Fashion & Jewellery'
              },
              {
                text: 'Family & Kids',
                value: 'Family & Kids'
              },
              {
                text: 'Food',
                value: 'Food'
              },
              {
                text: 'Home & Lifestyle',
                value: 'Home & Lifestyle'
              },
              {
                text: 'Technology',
                value: 'Technology'
              }
            ],
            subCategories: [
              {
                text: 'Show All',
                value: 'All'
              },
              {
                text: 'Sub Cat 1',
                value: 'Sub Cat 1'
              },
              {
                text: 'Sub Cat 2',
                value: 'Sub Cat 2'
              }
            ]
          },
          activeFilters: {
            categories: 'Beauty & Health',
            subCategories: 'All'
          },
          allArticleList: [
            {
              title: 'Test Title 1',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Beauty & Health',
                  value: 'Beauty & Health'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 1',
                  value: 'Sub Cat 1'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 2',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Entertainment',
                  value: 'Entertainment'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 1',
                  value: 'Sub Cat 1'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 3',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Fashion & Jewellery',
                  value: 'Fashion & Jewellery'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 1',
                  value: 'Sub Cat 1'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 4',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Family & Kids',
                  value: 'Family & Kids'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 1',
                  value: 'Sub Cat 1'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 5',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Food',
                  value: 'Food'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 1',
                  value: 'Sub Cat 1'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 6',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Home & Lifestyle',
                  value: 'Home & Lifestyle'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 2',
                  value: 'Sub Cat 2'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 7',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Technology',
                  value: 'Technology'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 2',
                  value: 'Sub Cat 2'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 8',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Beauty & Health',
                  value: 'Beauty & Health'
                },
                {
                  text: 'Home & Lifestyle',
                  value: 'Home & Lifestyle'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 2',
                  value: 'Sub Cat 2'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 9',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Beauty & Health',
                  value: 'Beauty & Health'
                },
                {
                  text: 'Home & Lifestyle',
                  value: 'Home & Lifestyle'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 2',
                  value: 'Sub Cat 2'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 10',
              categories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Beauty & Health',
                  value: 'Beauty & Health'
                },
                {
                  text: 'Home & Lifestyle',
                  value: 'Home & Lifestyle'
                },
                {
                  text: 'Technology',
                  value: 'Technology'
                }
              ],
              subCategories: [
                {
                  text: 'Show All',
                  value: 'All'
                },
                {
                  text: 'Sub Cat 2',
                  value: 'Sub Cat 2'
                }
              ],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            }
          ]
        } %}
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
