{% extends '@root/_layouts/_base.html' %} {% block meta %}
<title>Lazy Load</title>
{% endblock %} {% block additionalSytle %} {% endblock %} {% block pagecontent
%}
<div class="o-wrapper">
  <main class="o-container">
    {# banner for the page #}

    <div class="py-4">
      <h2>Lazy Load</h2>

      <div x-data="lazy()" data-alpine-component="lazy" id="level1" x-lazy>
        <div class="py-4">
          <div class="btn-holder flex flex-wrap justify-center">
            <a
              class="block w-full md:w-auto align-center md:inline-block md:min-w-48 md:max-w-85 text-base p-4 leading-normal font-medium btn border border-default border-solid border-primary bg-tertiary text-gray-500 text-center rounded-md lg:hover:bg-primary-hover lg:hover:border-primary-hover lg:hover:text-white transition duration-500 ease-in-out disabled:border-opacity-30"
              href="#"
              x-on:click.prevent="loadContent()"
              ><span class="block">Load component</span></a
            >
          </div>
        </div>
        <template x-if="loaded" x-ref="lazyComponent">
          {% include '@alpineComponents/modal-carousel-sync.alpine.twig' with {
          slides: [ { image: '/assets/dist/images/slider/slider-01.jpg',
          thumbnail: '/assets/dist/images/slider/t1.jpg', imageDescription:
          'Slider', type: 'image', videoUrl: '', title: 'Lorem ipsum dolor sit
          amet', text: 'rutrum massa arcu, ac sodales ex rutrum eu. ' }, {
          image: '/assets/dist/images/slider/slider-02.jpg', thumbnail:
          '/assets/dist/images/slider/t2.jpg', imageDescription: 'Slider', type:
          'image', videoUrl: '', title: 'Lorem ipsum dolor sit amet', text:
          'rutrum massa arcu, ac sodales ex rutrum eu. ' }, { image:
          '/assets/dist/images/slider/slider-03.jpg', thumbnail:
          '/assets/dist/images/slider/t3.jpg', imageDescription: 'Slider', type:
          'image', videoUrl: '', title: 'Lorem ipsum dolor sit amet', text:
          'rutrum massa arcu, ac sodales ex rutrum eu. ' } ] } %}
        </template>
      </div>
    </div>
  </main>
</div>
{% endblock %} {% block additionalscripts %}
<script src="{{ mix('/assets/dist/js/lazyLoad.js') }}"></script>
{% endblock %}
