{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Load More
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      <div class="py-4">
        <h2>
          Load More
        </h2>
        {% include '@alpineComponents/loadmore.alpine.twig' with {
          articleList: [
            {
              title: 'Test Title 1',
              categories: ['All', ''],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            },
            {
              title: 'Test Title 1',
              categories: ['All', ''],
              description: '<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>',
              date: '2021/04/21'
            }
          ]
        } %}
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
