{% extends '@root/_layouts/_base.html' %} {% block meta %}
  <title>
    Modals
  </title>
{% endblock %} {% block additionalSytle %}

{% endblock %} {% block pagecontent %}
  <div class="o-wrapper">
    <main class="o-container">
      {# banner for the page #}

      <div class="py-4">
        <h3 class="mb-4">
          Carousel that opens up in modal when clicked
        </h3>
        {% include '@alpineComponents/modal-carousel-sync.alpine.twig' with {
          slides: [
            {
              image: '/assets/dist/images/slider/slider-01.jpg',
              thumbnail: '/assets/dist/images/slider/t1.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-02.jpg',
              thumbnail: '/assets/dist/images/slider/t2.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-03.jpg',
              thumbnail: '/assets/dist/images/slider/t3.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            }
          ]
        } %}
        <h2>
          Modal
        </h2>
        {% include '@alpineComponents/modal.alpine.twig' %}
        <hr class="mt-4 mb-4" />
        {% include '@alpineComponents/modal-carousel.alpine.twig' with {
          slides: [
            {
              image: '/assets/dist/images/slider/slider-01.jpg',
              thumbnail: '/assets/dist/images/slider/t1.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-02.jpg',
              thumbnail: '/assets/dist/images/slider/t2.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            },
            {
              image: '/assets/dist/images/slider/slider-03.jpg',
              thumbnail: '/assets/dist/images/slider/t3.jpg',
              imageDescription: 'Slider',
              type: 'image',
              videoUrl: '',
              title: 'Lorem ipsum dolor sit amet',
              text: 'rutrum massa arcu, ac sodales ex rutrum eu. '
            }
          ]
        } %}
        <hr class="mt-4 mb-4" />
      </div>
    </main>
  </div>
{% endblock %} {% block additionalscripts %}
  <script src="{{ mix('/assets/dist/js/main.js') }}"></script>
{% endblock %}
