{% extends '@root/_layouts/_base.html' %}
{% block meta %}
  <title>
    Template Lists
  </title>
{% endblock %}

{% block additionalSytle %}

{% endblock %}

{% block pagecontent %}
  {% set templateList = [
    {
      text: 'JS Accordion',
      url: 'js-components/js-accordion.html'
    },
    {
      text: 'JS Carousel',
      url: 'js-components/js-carousel.html'
    },
    {
      text: 'JS Modal',
      url: 'js-components/js-modal.html'
    },
    {
      text: 'JS Load More',
      url: 'js-components/js-loadmore.html'
    },
    {
      text: 'JS Filters - Radios ',
      url: 'js-components/js-filter-radios.html'
    },
    {
      text: 'JS Filters - Checkboxes',
      url: 'js-components/js-filter-checkboxes.html'
    },
    {
      text: 'JS Filters - Select ',
      url: 'js-components/js-filter-select.html'
    },
    {
      text: 'JS Form ',
      url: 'js-components/js-form.html'
    },
    {
      text: 'JS Lazy Load component ',
      url: 'js-components/js-lazyload-compoment.alpine.html'
    }
  ] %}

  <div class="p-8">
    <ul>
      {% for item in templateList %}
        <li><a href="{{ item.url }}" target="_blank">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block additionalscripts %}

{% endblock %}
