<div class="relative">
  <fieldset class="space-y-5">
    <div class="relative flex items-start" x-id="['checkboxField']">
      <div class="flex items-center h-5">
        <input
          :id="$id('checkboxField')"
          name="checkboxField"
          type="checkbox"
          value="Option 1"
          x-input
          x-model="formData.checkboxField.value"
          placeholder="CheckBox Field"
          data-rules='["required"]'
          data-rules-fieldName="Checkboxes "
          class="focus:ring-gray-300 h-4 w-4 gray-500 border-gray-300 rounded"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
        />
      </div>
      <div class="ml-3 text-sm">
        <label :for="$id('checkboxField')" class="font-medium text-gray-700"
          >Option 1</label
        >
      </div>
    </div>

    <div class="relative flex items-start" x-id="['checkboxField']">
      <div class="flex items-center h-5">
        <input
          :id="$id('checkboxField')"
          name="checkboxField"
          type="checkbox"
          value="Option 2"
          x-model="formData.checkboxField.value"
          class="focus:ring-gray-300 h-4 w-4 gray-500 border-gray-300 rounded"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
        />
      </div>
      <div class="ml-3 text-sm">
        <label :for="$id('checkboxField')" class="font-medium text-gray-700"
          >Option 2</label
        >
      </div>
    </div>

    <div class="relative flex items-start" x-id="['checkboxField']">
      <div class="flex items-center h-5">
        <input
          :id="$id('checkboxField')"
          name="checkboxField"
          type="checkbox"
          value="Option 3"
          x-model="formData.checkboxField.value"
          class="focus:ring-gray-300 h-4 w-4 gray-500 border-gray-300 rounded"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
        />
      </div>
      <div class="ml-3 text-sm">
        <label :for="$id('checkboxField')" class="font-medium text-gray-700"
          >Option 3</label
        >
      </div>
    </div>
  </fieldset>
  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.checkboxField.errorMessage"
  >
  </span>
</div>
