<div class="relative">
  <input
    type="email"
    placeholder="Enter Email"
    name="email"
    x-input
    x-model="formData.email.value"
    data-rules='["required","email"]'
    data-rules-fieldName="Email"
    class="text-base leading-normal p-4 text-gray-500 placeholder-gray-300 rounded-md border-1 border-solid border-gray-200 w-full block mb-0"
    :class="{ 'border-red-700': formData.email.errorMessage }"
    x-on:keyup="validate"
    x-on:blur="validate"
    {#
    value="temp"
    #}
  />

  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.email.errorMessage"
  >
  </span>
</div>
