<div class="relative">
  <input
    type="text"
    name="name"
    placeholder="Enter Name"
    x-input
    x-model="formData.name.value"
    data-rules='["required"]'
    data-rules-fieldName="Name"
    class="text-base leading-normal p-4 text-gray-500 placeholder-gray-300 rounded-md border-1 border-solid border-gray-200 w-full block mb-0"
    :class="{ 'border-red-700': formData.name.errorMessage }"
    x-on:keyup="validate"
    x-on:blur="validate"
    {#
    value="xxx"
    #}
  />

  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.name.errorMessage"
  >
  </span>
</div>
