<div class="relative">
  <fieldset>
    <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-10">
      <div class="flex items-center" x-id="['radioField']">
        <input
          type="radio"
          name="radioField"
          x-input
          x-model="formData.radioField.value"
          value="Email"
          data-rules='["required"]'
          data-rules-fieldName="Radios "
          class="focus:gray-500 h-4 w-4 gray-500 border-gray-300"
          :id="$id('radioField')"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
          {#
          checked
          #}
        />
        <label
          :for="$id('radioField')"
          class="ml-3 block text-sm font-medium text-gray-700"
        >
          Email
        </label>
      </div>

      <div class="flex items-center" x-id="['radioField']">
        <input
          type="radio"
          name="radioField"
          x-model="formData.radioField.value"
          class="focus:gray-500 h-4 w-4 gray-500 border-gray-300"
          :id="$id('radioField')"
          value="Phone"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
        />
        <label
          :for="$id('radioField')"
          class="ml-3 block text-sm font-medium text-gray-700"
        >
          Phone (SMS)
        </label>
      </div>

      <div class="flex items-center" x-id="['radioField']">
        <input
          name="radioField"
          type="radio"
          x-model="formData.radioField.value"
          class="focus:gray-500 h-4 w-4 gray-500 border-gray-300"
          :id="$id('radioField')"
          value="Push notification"
          x-on:keyup="validate"
          x-on:blur="validate"
          x-on:change="validate"
        />
        <label
          :for="$id('radioField')"
          class="ml-3 block text-sm font-medium text-gray-700"
        >
          Push notification
        </label>
      </div>
    </div>
  </fieldset>
  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.radioField.errorMessage"
  ></span>
</div>
