<div class="o-select relative">
  <select
    name="selectField"
    x-input
    x-model="formData.selectField.value"
    data-rules='["required"]'
    data-rules-fieldName="Select"
    class="text-base leading-normal p-4 pr-28 text-gray-500 placeholder-gray-300 rounded-md border-1 border-solid border-gray-200 w-full block mb-0 appearance-none"
    :class="{ 'border-red-700': formData.selectField.errorMessage}"
    x-on:keyup="validate"
    x-on:blur="validate"
    x-on:change="validate"
  >
    <option value="">Select option</option>
    <option value="Select option 1">Select option 1</option>
    <option value="Select option 2">Select option 2</option>
    <option value="Select option 3">Select option 3</option>
  </select>
  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.selectField.errorMessage"
  >
  </span>
</div>
