<div class="relative">
  <label for="comment" class="block text-sm font-medium text-gray-700"
    >Add your comment</label
  >
  <div class="mt-1">
    <textarea
      rows="6"
      class="focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-1 border-solid border-gray-200 rounded-md p-4"
      name="textareaField"
      placeholder="Comments"
      x-input
      x-model="formData.textareaField.value"
      data-rules='["required"]'
      data-rules-fieldName="Comments"
      x-on:keyup="validate"
      x-on:blur="validate"
    ></textarea>
  </div>

  <span
    class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
    x-text="formData.textareaField.errorMessage"
  ></span>
</div>
