<svg width="39"
  height="38"
  viewBox="0 0 39 38"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <line x1="0.707314"
    y1="18.8533"
    x2="37.1667"
    y2="18.8533"
    stroke="black"
    class="group-hover:stroke-white group-hover:transition group-hover:duration-500 group-hover:ease-in-out"
    stroke-width="1.5" />
  <path d="M20.0884 37.2927L37.2927 19L20.0884 0.707316"
    stroke="black"
    class="group-hover:stroke-white group-hover:transition group-hover:duration-500 group-hover:ease-in-out"
    stroke-width="1.5" />
</svg>
