<svg width="39"
  height="38"
  viewBox="0 0 39 38"
  fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <line x1="38.2927"
    y1="19.1467"
    x2="1.83325"
    y2="19.1467"
    stroke="black"
    class="group-hover:stroke-white group-hover:transition group-hover:duration-500 group-hover:ease-in-out"
    stroke-width="1.5" />
  <path d="M18.9116 0.707313L1.70731 19L18.9116 37.2927"
    stroke="black"
    class="group-hover:stroke-white group-hover:transition group-hover:duration-500 group-hover:ease-in-out"
    stroke-width="1.5" />
</svg>
