@layer components {
  /* //  OBJECTS : use this to create layout components */

  .o-wrapper {
    @apply w-full block relative overflow-hidden;
  }

  .o-container {
    @apply mx-auto px-4 w-full;
  }

  @media screen(xs) {
    .o-container {
      max-width: 1262px !important;
    }
  }

  @media screen(md) {
    .o-container {
      @apply px-12;
    }
  }
  @media screen(lg) {
    .o-container {
      @apply px-4;
    }
  }
}
