<div class="">
  <ul class="">
    {% for item in accordionList %}
    <li
      class="py-6 border-t-1"
      x-data="accordion()"
      x-cloak
      data-alpine-component="accordion"
    >
      <button
        x-on:click="toggle()"
        class="block w-full font-semibold relative pb-2 text-left"
      >
        {{ item.title }}
        <span
          class="absolute right-4 top-0 transform duration-300 ease-linear"
          :class="isOpen() ? 'rotate-180' : '' "
        >
          <svg
            width="13"
            height="7"
            viewBox="0 0 13 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.960938 0L6.96094 6.42587L12.9609 1.12354e-06"
              fill="#202020"
            />
          </svg>
        </span>
      </button>
      <div class="" x-show="isOpen" x-collapse style="display: none">
        {{ item.body }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
