<div
  class="slider -mx-4 md:-mx-12 lg:mx-0 [ swiper ] relative"
  x-data="carousel()"
  data-alpine-component="carousel"
  x-cloak
>
  <div class="[ swiper-wrapper ]" style="height: auto">
    {% for key, slide in slides %}
    <div class="[ swiper-slide ]">
      <div class="img-holder relative h-59 md:h-96 lg:h-108 overflow-hidden">
        <picture class="w-full h-full object-cover object-center">
          <source media="(max-width:767px)" srcset="{{ slide.image }}" />
          <img
            src="{{ slide.image }}"
            alt="{{ slide.imageDescription }}"
            class="w-full h-full object-cover object-center"
          />
        </picture>
      </div>
      {% if slide.title %}
      <div
        class="text-holder text-tiny pl-16 md:pl-28 pt-4 pb-2 md:pb-4 relative w-7/12 xs:w-8/12 lg:pl-16"
      >
        <div
          class="absolute left-0 md:left-12 lg:left-0 top-0 bottom-0 text-4xl md:text-3xl leading-1 flex flex-wrap slides-center justify-center font-brand border-r-1 border-solid border-gray-500 p-4"
        >
          {{ key + 1 }}
        </div>
        <strong>{{ slide.title }}</strong>
        <p>{{ slide.text }}</p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div
    class="absolute z-30 top-36 md:top-61 lg:top-72 right-2 xs:right-4 md:right-12 lg:right-8 w-22 md:w-36 group"
  >
    <button class="block w-full" x-on:click.prevent="moveToNextSlide">
      <div
        class="bg-white w-full flex flex-wrap items-center justify-center h-19"
      >
        <svg
          width="42"
          height="40"
          class="group-hover:w-8 group-hover:h-auto transition-width duration-500 ease-in-out"
          viewBox="0 0 42 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            y1="19.5713"
            x2="39.6662"
            y2="19.5713"
            stroke="black"
            stroke-width="1.5"
          />
          <path
            d="M21.1899 38.6201L40 19.8101L21.1899 0.999986"
            stroke="black"
            stroke-width="1.5"
          />
        </svg>
      </div>
    </button>
    <div class="[ swiper ]" x-ref="nav">
      <ul class="block [ swiper-wrapper ]">
        {% for slide in slides %}
        <li class="block [ swiper-slide ]">
          <div class="img-holder h-20 md:h-34 overflow-hidden">
            <img
              src="{{ slide.thumbnail }}"
              alt="{{ slide.imageDescription }}"
              class="w-full h-full object-cover object-center transform group-hover:scale-120 transition-transform duration-500 ease-in-out"
            />
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {# Normal Navigation #}
  <div class="c-slider__arrows z-30 absolute top-0 right-0">
    <button
      type="button"
      x-on:click.prevent="moveToPrevSlide"
      class="prev w-12 h-12 flex justify-center items-center bg-white group hover:bg-primary transition duration-500 ease-in-out"
    >
      {% include '@components/icons/prev.twig' %}
    </button>
    <button
      type="button"
      x-on:click.prevent="moveToNextSlide"
      class="next w-12 h-12 flex justify-center items-center bg-white group hover:bg-primary transition duration-500 ease-in-out"
    >
      {% include '@components/icons/next.twig' %}
    </button>
  </div>
</div>
