<h2>Filters - Single</h2>
<div
  x-data="filtersMulti({
    options:{
      multiSelect : false,
      pagination: {
        pageSize: {{ 2 }}
      },
    },
    filters: {{ filters | json_encode | escape  }},
    activeFilters : {{ activeFilters | json_encode | escape }},
    allItems:{{ allArticleList | json_encode | escape }} 
  })"
  data-alpine-component="filters-multi"
  x-cloak
>
  {# Filters #}
  <section class="my-12 lg:my-16">
    <div class="mx-auto">
      {# Category Filters #}
      <div class="md:flex flex-wrap justify-center gap-4 mb-8">
        <!-- Radios -->
        <template x-for="category in config.filters.categories">
          <div class="" x-id="['radioField']">
            <input
              type="radio"
              name="categories"
              :value="category.value"
              :id="$id('radioField')"
              class="peer"
              x-model="activeFilters.categories"
              x-on:change="handleChangeOnSingle($event, {type: 'main' , id: 'categories'})"
            />
            <label
              :for="$id('radioField')"
              x-text="category.text"
              class="btn btn--primary cursor-pointer text-xs py-2 px-4 rounded-md hover:bg-primary hover:text-white bg-gray-100 text-gray-500 peer-checked:bg-primary peer-checked:text-white"
            >
            </label>
          </div>
        </template>
        <!-- // Radios -->
      </div>
      <div class="md:flex flex-wrap justify-center gap-4 mb-8">
        <!--  Radios -->
        <template x-for="category in config.filters.subCategories">
          <div class="" x-id="['radioField']">
            <input
              type="radio"
              name="subCategories"
              :value="category.value"
              :id="$id('radioField')"
              class="peer"
              x-model="activeFilters.subCategories"
              x-on:change="handleChangeOnRadio"
            />
            <label
              :for="$id('radioField')"
              x-text="category.text"
              class="btn btn--primary cursor-pointer text-xs py-2 px-4 rounded-md hover:bg-primary hover:text-white bg-gray-100 text-gray-500 peer-checked:bg-primary peer-checked:text-white"
            >
            </label>
          </div>
        </template>
        <!--  Radios -->
      </div>
    </div>
  </section>

  {# Cards #}
  <section x-show="getLengthOfFilteredItems()">
    <div class="text-left mb-4">
      <p>
        Showing <span x-text="getLengthOfPaginatedItems()">0</span> of
        <span x-text="getLengthOfFilteredItems()">0</span> results
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-between gap-8"
    >
      <template x-for="item in pagination.items" :key="item.title">
        <div
          x-show="item.show"
          class="grid grid-cols-12 border border-gray-200 rounded-md"
          x-transition
        >
          <div
            class="col-span-12 md:col-span-5 relative md:rounded-bl-md rounded-tl-md"
          >
            <img
              class="w-full object-cover overflow-hidden"
              src="/assets/dist/images/articles/article-1.png"
              alt=""
            />
          </div>
          <div class="col-span-12 md:col-span-7">
            <div class="h-full flex flex-col justify-between py-6 px-6">
              <div class="text-lg leading-6 font-medium space-y-1">
                <div class="text-xs text-gray-400 mb-1 capitalize">
                  <div>
                    <span> categories: </span>
                    <template
                      x-for="(cat, index) in item.categories"
                      :key="cat.value"
                    >
                      <span>
                        <a
                          class="inline"
                          href="#"
                          x-text="cat.value"
                          class="hover:underline"
                        ></a>
                        <span x-show="index <  (item.categories.length - 1) "
                          >,</span
                        >
                      </span>
                    </template>
                  </div>
                  <div>
                    <span> Sub-categories: </span>
                    <template
                      x-for="(cat, index) in item.subCategories"
                      :key="cat.value"
                    >
                      <span>
                        <a
                          class="inline"
                          href="#"
                          x-text="cat.value"
                          class="hover:underline"
                        ></a>
                        <span x-show="index <  (item.subCategories.length - 1) "
                          >,</span
                        >
                      </span>
                    </template>
                  </div>
                </div>

                <div class="text-xl text-gray-500 mb-2">
                  <a x-text="item.title" href="#"></a>
                </div>

                <div
                  class="text-base text-gray-500 mb-6"
                  x-html="item.description"
                ></div>
              </div>
              <div class="text-sm text-gray-400 mt-6" x-text="item.date"></div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </section>

  {# No Results Found #}
  <div
    class="text-sm leading-normal text-blue bg-blue bg-opacity-5 rounded-md relative p-6 pt-5 pl-16"
    x-show="!getLengthOfFilteredItems()"
  >
    <div class="absolute left-6 top-6 inline-block align-top">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19Z"
          stroke="#1E40AF"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M10 10L10 14"
          stroke="#1E40AF"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10 6C10.2652 6 10.5196 6.10536 10.7071 6.29289C10.8946 6.48043 11 6.73478 11 7C11 7.26522 10.8946 7.51957 10.7071 7.70711C10.5196 7.89464 10.2652 8 10 8C9.73478 8 9.48043 7.89464 9.29289 7.70711C9.10536 7.51957 9 7.26522 9 7C9 6.73478 9.10536 6.48043 9.29289 6.29289C9.48043 6.10536 9.73478 6 10 6Z"
          fill="#1E40AF"
        ></path>
      </svg>
    </div>
    <div class="">Apologies, but we couldn't find any matching Results !!</div>
  </div>

  {# Load More #}
  <div class="pt-8">
    <div class="btn-holder flex flex-wrap justify-center">
      <a
        href="#"
        x-on:click.prevent="loadMore()"
        x-show="showLoadMore()"
        class="block w-full md:w-auto align-center md:inline-block md:min-w-48 md:max-w-85 text-base p-4 leading-normal font-medium btn border border-default border-solid border-primary bg-tertiary text-gray-500 text-center rounded-md lg:hover:bg-primary-hover lg:hover:border-primary-hover lg:hover:text-white transition duration-500 ease-in-out disabled:border-opacity-30"
      >
        <span class="block" x-show="!isLoading"> Load more </span>
        <span class="inline-block m-auto w-8 h-8" x-show="isLoading" x-cloak>
          {% include '@components/icons/loader.twig' %}
        </span>
      </a>
    </div>
  </div>
</div>
