<div x-data="formCapture()">
  <form
    class="enquiry-form"
    x-on:submit.prevent="submitForm"
    id="form"
    data-alpine-component="form"
  >
    <div class="mb-8">
      <div class="w-full md:flex md:flex-wrap -mx-4 -mb-4">
        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/input.alpine.twig' %}
        </div>

        <!-- -->

        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/email.alpine.twig' %}
        </div>

        <!-- -->

        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/select.alpine.twig' %}
        </div>

        <!-- -->

        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/radios.alpine.twig' %}
        </div>

        <!-- -->
        <!-- -->

        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/checkboxes.alpine.twig' %}
        </div>

        <!-- -->

        <!-- -->

        <div class="w-full mb-8 px-4">
          {% include '@alpineComponents/formElements/textarea.alpine.twig' %}
        </div>

        <!-- captcha -->

        <template x-if="formData.recaptcha">
          <div class="w-full mb-8 px-4">
            <div class="relative">
              <div x-ref="recaptchaContainer"></div>
              <script x-ref="recaptchaScript"></script>

              <span
                class="text-tiny leading-normal text-error absolute left-0 top-full right-0 mt-1"
                x-text="formData.recaptcha.errorMessage"
              >
              </span>
            </div>
          </div>
        </template>

        <!-- captcha -->

        <!-- Message -->
        <template x-if="postState.response.status === 'success'">
          <div class="w-full mb-8 px-4">
            <div class="rounded-md bg-green-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <!-- Heroicon name: solid/check-circle -->
                  <svg
                    class="h-5 w-5 text-green-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="ml-3">
                  <h3
                    class="text-sm font-medium text-green-800"
                    x-text="postState.response.message"
                  >
                    Form has been successfully posted with the following data
                  </h3>
                  <div
                    class="mt-2 text-sm text-green-700"
                    x-text="postState.response.data"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <!-- -->

        <div class="w-full mb-8 px-4">
          <div class="btn-holder">
            <button
              type="submit"
              class="block w-full md:w-auto md:inline-block md:min-w-48 md:max-w-85 text-base leading-normal text-white font-medium bg-primary p-4 rounded-md hover:bg-primary-hover transition duration-500 ease-in-out"
            >
              <span class="block" :class="postState.isPosting ? 'hidden' : '' ">
                Submit
              </span>
              <span
                class="m-auto w-8 h-8"
                :class="postState.isPosting ? 'inline-block' : 'hidden' "
              >
                {% include '@components/icons/loader.twig' %}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
