<div
  x-data="loadmore({page:1, limit:2})"
  data-alpine-component="loadmore"
  x-cloak
>
  <div
    class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 justify-between gap-8"
  >
    {% for item in articleList %}
    <div class="grid grid-cols-12 border border-gray-200 rounded-md">
      <div
        class="col-span-12 md:col-span-5 relative md:rounded-bl-md rounded-tl-md"
      >
        <img
          class="w-full object-cover overflow-hidden"
          src="/assets/dist/images/articles/article-1.png"
          alt=""
        />
      </div>
      <div class="col-span-12 md:col-span-7">
        <div class="h-full flex flex-col justify-between py-6 px-6">
          <div class="text-lg leading-6 font-medium space-y-1">
            <div class="text-sm text-gray-400 mb-1 capitalize">
              <a href="">{{ item.category }}</a>
            </div>

            <div class="text-xl text-gray-500 mb-2">
              <a href="">{{ item.title }}</a>
            </div>

            <div class="text-base text-gray-500 mb-6">
              {{ item.description }}
            </div>
          </div>
          <div class="text-sm text-gray-400 mt-6">{{ item.date }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
    <template x-for="item in items" :key="item.id">
      <div class="grid grid-cols-12 border border-gray-200 rounded-md">
        <div
          class="col-span-12 md:col-span-5 relative md:rounded-bl-md rounded-tl-md"
        >
          <img
            class="w-full object-cover overflow-hidden"
            src="/assets/dist/images/articles/article-1.png"
            alt=""
          />
        </div>
        <div class="col-span-12 md:col-span-7">
          <div class="h-full flex flex-col justify-between py-6 px-6">
            <div class="text-lg leading-6 font-medium space-y-1">
              <div class="text-sm text-gray-400 mb-1 capitalize">
                <a href="" x-text="item.title"></a>
              </div>

              <div class="text-xl text-gray-500 mb-2">
                <a href="" x-text="item.cateory"></a>
              </div>

              <div
                class="text-base text-gray-500 mb-6"
                x-html="item.description"
              ></div>
            </div>
            <div class="text-sm text-gray-400 mt-6" x-text="item.date"></div>
          </div>
        </div>
      </div>
    </template>
  </div>

  <div class="pt-8">
    <div class="btn-holder flex flex-wrap justify-center">
      <a
        href="#"
        x-on:click.prevent="loadMore()"
        x-show="!showLoadMore()"
        class="block w-full md:w-auto align-center md:inline-block md:min-w-48 md:max-w-85 text-base p-4 leading-normal font-medium btn border border-default border-solid border-primary bg-tertiary text-gray-500 text-center rounded-md lg:hover:bg-primary-hover lg:hover:border-primary-hover lg:hover:text-white transition duration-500 ease-in-out disabled:border-opacity-30"
      >
        <span class="block" x-show="!isLoading"> Load more </span>
        <span class="inline-block m-auto w-8 h-8" x-show="isLoading" x-cloak>
          {% include '@components/icons/loader.twig' %}
        </span>
      </a>
    </div>
  </div>
</div>
