<div class="">
  <div x-data="modalCarouselSync()" data-alpine-component="modal-carousel-sync">
    <div x-ref="contentWrapper">
      <div x-ref="faker"></div>
      <div x-ref="content">
        <template x-if="content">
          <div
            class="slider -mx-4 md:-mx-12 lg:mx-0 [ swiper ] relative"
            x-data="carousel()"
            data-alpine-component="carousel"
            x-cloak
          >
            <div class="[ swiper-wrapper ]" style="height: auto">
              {% for key, slide in slides %}
              <div class="[ swiper-slide ]">
                <div
                  class="img-holder relative h-59 md:h-96 lg:h-108 overflow-hidden"
                  x-on:click="showModal()"
                >
                  <picture class="w-full h-full object-cover object-center">
                    <source
                      media="(max-width:767px)"
                      srcset="{{ slide.image }}"
                    />
                    <img
                      src="{{ slide.image }}"
                      alt="{{ slide.imageDescription }}"
                      class="w-full h-full object-cover object-center"
                    />
                  </picture>
                </div>
                {% if slide.title %}
                <div
                  class="text-holder text-tiny pl-16 md:pl-28 pt-4 pb-2 md:pb-4 relative w-7/12 xs:w-8/12 lg:pl-16"
                >
                  <div
                    class="absolute left-0 md:left-12 lg:left-0 top-0 bottom-0 text-4xl md:text-3xl leading-1 flex flex-wrap slides-center justify-center font-brand border-r-1 border-solid border-gray-500 p-4"
                  >
                    {{ key + 1 }}
                  </div>
                  <strong>{{ slide.title }}</strong>
                  <p>{{ slide.text }}</p>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>

            <div
              class="absolute z-30 top-36 md:top-61 lg:top-72 right-2 xs:right-4 md:right-12 lg:right-8 w-22 md:w-36 group"
            >
              <button class="block w-full" x-on:click.prevent="moveToNextSlide">
                <div
                  class="bg-white w-full flex flex-wrap items-center justify-center h-19"
                >
                  <svg
                    width="42"
                    height="40"
                    class="group-hover:w-8 group-hover:h-auto transition-width duration-500 ease-in-out"
                    viewBox="0 0 42 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      y1="19.5713"
                      x2="39.6662"
                      y2="19.5713"
                      stroke="black"
                      stroke-width="1.5"
                    />
                    <path
                      d="M21.1899 38.6201L40 19.8101L21.1899 0.999986"
                      stroke="black"
                      stroke-width="1.5"
                    />
                  </svg>
                </div>
              </button>
              <div class="[ swiper ]" x-ref="nav">
                <ul class="block [ swiper-wrapper ]">
                  {% for slide in slides %}
                  <li class="block [ swiper-slide ]">
                    <div class="img-holder h-20 md:h-34 overflow-hidden">
                      <img
                        src="{{ slide.thumbnail }}"
                        alt="{{ slide.imageDescription }}"
                        class="w-full h-full object-cover object-center transform group-hover:scale-120 transition-transform duration-500 ease-in-out"
                      />
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            {# Normal Navigation #}
            <div class="c-slider__arrows z-30 absolute top-0 right-0">
              <button
                type="button"
                x-on:click.prevent="moveToPrevSlide"
                class="prev w-12 h-12 flex justify-center items-center bg-white group hover:bg-primary transition duration-500 ease-in-out"
              >
                {% include '@components/icons/prev.twig' %}
              </button>
              <button
                type="button"
                x-on:click.prevent="moveToNextSlide"
                class="next w-12 h-12 flex justify-center items-center bg-white group hover:bg-primary transition duration-500 ease-in-out"
              >
                {% include '@components/icons/next.twig' %}
              </button>
            </div>
          </div>
        </template>
      </div>

      <template x-teleport="body">
        <div
          x-show="open"
          x-on:keydown.escape.window="hideModal()"
          class="c-modal fixed left-0 top-0 right-0 bottom-0 z-9999"
          x-bind:class="open ? '' : 'hidden'"
        >
          <div
            class="c-modal__body relative w-full h-full overflow-auto flex flex-wrap items-center"
          >
            <div
              class="c-modal__overlay absolute left-0 top-0 right-0 bottom-0 z-10 bg-primary opacity-95"
              x-on:click.prevent.stop="hideModal()"
            ></div>
            <div class="o-container">
              <div
                class="c-modal__wrap relative z-20 lg:w-10/12 lg:mx-auto my-16"
              >
                <div class="c-modal__holder w-full bg-white relative">
                  <button
                    class="c-modal__close inline-block align-top absolute right-0 -top-9"
                    x-on:click.prevent="hideModal()"
                  >
                    <svg
                      width="15"
                      height="14"
                      viewBox="0 0 15 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <line
                        x1="1.70711"
                        y1="1.29289"
                        x2="13.7071"
                        y2="13.2929"
                        stroke="white"
                        stroke-width="2"
                      />
                      <line
                        y1="-1"
                        x2="16.9706"
                        y2="-1"
                        transform="matrix(-0.707107 0.707107 0.707107 0.707107 14 2)"
                        stroke="white"
                        stroke-width="2"
                      />
                    </svg>
                  </button>
                  <div x-ref="modalContainer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</div>
