<div x-data="modal()" data-alpine-component="modal">
  <a href="#" x-on:click.prevent="open = true" class="">open simple modal</a>
  <template x-teleport="body">
    <div
      x-show="open"
      x-on:keydown.escape.window="open = false"
      class="c-modal fixed left-0 top-0 right-0 bottom-0 z-9999"
      x-bind:class="open ? '' : 'hidden'"
    >
      <div
        class="c-modal__body relative w-full h-full overflow-auto flex flex-wrap items-center"
      >
        <div
          class="c-modal__overlay absolute left-0 top-0 right-0 bottom-0 z-10 bg-primary opacity-90"
          x-on:click.prevent.stop="open = false"
        ></div>
        <div class="o-container">
          <div class="c-modal__wrap relative z-20 lg:w-10/12 lg:mx-auto my-16">
            <div class="c-modal__holder w-full bg-white p-5 lg:p-8 relative">
              <button
                class="c-modal__close inline-block align-top absolute right-0 -top-9"
                x-on:click.prevent="open = false"
              >
                <svg
                  width="15"
                  height="14"
                  viewBox="0 0 15 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line
                    x1="1.70711"
                    y1="1.29289"
                    x2="13.7071"
                    y2="13.2929"
                    stroke="white"
                    stroke-width="2"
                  />
                  <line
                    y1="-1"
                    x2="16.9706"
                    y2="-1"
                    transform="matrix(-0.707107 0.707107 0.707107 0.707107 14 2)"
                    stroke="white"
                    stroke-width="2"
                  />
                </svg>
              </button>
              <h1>heading 1</h1>
              <p>lorem</p>
              <h2>Heading 2</h2>
              <p>lorem</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</div>
